String

In [1]:
print(ord('a'))
print(chr(65))

97
A

In [2]:
a = 1
b = 2
c = 3
print(str(a)+'-'+str(b)+'-'+str(c))

1-2-3

In [3]:
print("%d-%d-%d" % (a, b, c))

1-2-3

In [4]:
# format()
print("{}-{}-{}".format(a, b, c))

1-2-3

In [5]:
print(f"{a}-{b}-{c}")

1-2-3

In [6]:
print("{lname} {fname}".format(fname='light', lname='yagami'))

yagami light

In [7]:
print("Your name is {}".format(input("Enter name : ")))

Your name is tejas

In [8]:
# compare
a = 'yes'
b = 'yes '
c = ' yes'
print(a == b)
a == b.strip() == c.strip()  # remove spaces b4 and after

False

True

In [9]:
# split()
a = input("enter comma separted values : ")
a.split(',')

['5', '1', '4', '2', '3']

In [10]:
fruit = 'banana'

In [11]:
fruit.replace('a', 'x')

'bxnxnx'

In [12]:
fruit.count('a')

3

In [13]:
fruit.count('an')

2

Lists

In [14]:
arr = [1, 2, 3]

In [15]:
arr+arr

[1, 2, 3, 1, 2, 3]

In [16]:
arr*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
1 in arr

True

In [18]:
arr2 = [2, 4, 8, 3, 5, 7, 1, 0]
arr2[-1]

0

In [19]:
arr2[1:6]

[4, 8, 3, 5, 7]

In [20]:
arr2[1:6:2]

[4, 3, 7]

In [21]:
arr2[::-1]

[0, 1, 7, 5, 3, 8, 4, 2]

In [22]:
print(arr)
arr.insert(1, '20')
print(arr)
arr.pop(2)  # popped on index
arr

[1, 2, 3]
[1, '20', 2, 3]

[1, '20', 3]

In [23]:
arr2.sort()
arr2

[0, 1, 2, 3, 4, 5, 7, 8]

In [24]:
arr2.reverse()
arr2

[8, 7, 5, 4, 3, 2, 1, 0]

Tuple

In [25]:
l = [1, 2, 3, 4]
t = (1, 2, 3, 4)

In [26]:
print(id(l))
id(l[2])

2382814206272

2382709418352

In [27]:
print(id(l[3])-id(l[2]))

32

In [28]:
t1 = (1, 2)
a, b = t1
print(a, b)

1 2

In [29]:
# Swapping of 2
a = 4
b = 2
print(f"Before Swapping : {a} {b}")
(a, b) = (b, a)
# [a, b] = [b, a]
print(f"After Swapping : {a} {b}")

Before Swapping : 4 2
After Swapping : 2 4

In [30]:
csv = 1, 2, 3, 4
print(csv)
type(csv)

(1, 2, 3, 4)

tuple

In [31]:
name = 'shinigami'
list(name)

['s', 'h', 'i', 'n', 'i', 'g', 'a', 'm', 'i']

In [32]:
def addSub(a, b):
    return a+b, a-b


addSub(10, 5)

(15, 5)

In [33]:
add, sub = addSub(4, 2)
print(add, sub)

6 2